body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
}

body{
    margin: 0;
}

button{
    font-family: 'Manrope', sans-serif;
    outline: none;
    border: none;
    background: #0059ff;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover{
        background: #003cff;
    }
}

::-webkit-scrollbar{
    display: none;
}


input{
    outline: none;
    border: none;
}

// Desktop

@media screen and (min-width: 800px){


    #main{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #eaeaed;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        overflow-x: scroll;
        padding: 0 50px;
    }


    #plus{
        background: rgba(black, 0.1);
        text-align: center;
        line-height: 80px;
        flex-shrink: 0;
        z-index: 10;
        font-size: 50px;
        width: 100px;
        height: 100px;
        margin: 50px;
        margin-right: 100px;
        font-weight: 400;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover{
            background: rgba(black, 0.2);
        }
    }

    #slides{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }

    .screen{
        width: 55vh;
        height: calc(85vh - 50px);
        border-radius: 30px;

        overflow-y: scroll;
    }



    .slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 0.001;
        position: relative;

        animation: float-up 0.6s ease;
    }

    .line{
        font-size: 30px;
        position: absolute;
        z-index: -1;
        right: -50px;
        top: 50%;
    }



    .slide-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .bars{
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease;

            .bar{
                width: 22px;
                height: 2px;
                margin: 4px 0;
                background: rgba(black, 0.4);
                transition: 0.2s ease;
            }
            &.active{
                background: rgba(red, 0.1);
                border-radius: 10px;
                .bar{
                    background: red;
                }
                .one{
                    transform: rotate(45deg) translate(4px, 4px);
                }
                .two{
                    transform: rotate(-45deg) translate(4px, -4px);
                }
            }
        }
        .url{
            display: flex;
            align-items: center;
            gap: 10px;
            height: 50px;

            h3{
                color: rgba(black, 0.2);
                margin: 0;

                transition: 0.2s ease;

                cursor: pointer;

                &:hover{
                    color: rgba(black, 0.5);
                }

            }
            button{

                color: #6355FF;
                border: 2px solid #6355FF;
                border-radius: 8px;
                padding: 5px 15px;
                background: none;
                font-weight: 600;
            }
        }
    }



}


// Mobile

@media screen and (max-width: 800px){

    #main{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #e5e5f0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #store{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }

}




@keyframes float-up{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }

    100%{
        transform: none;
        opacity: 1;
    }
}


@keyframes remove{

    from{
        margin-right: 0;
    }
    to{
        margin-right: 100%;
    }
}