.beethoven .screen {
  background: #111230;
  color: white;
  font-family: "Libre Baskerville", sans-serif;
  padding-bottom: 50px;
  box-shadow: 0px 60px 100px rgba(27, 28, 62, 0.4);
}
.beethoven #store .header {
  width: 90%;
  padding: 20px 0;
  margin: auto;
}
.beethoven #store .header .mast {
  display: flex;
  align-items: center;
  gap: 15px;
}
.beethoven #store .header .mast .pfp {
  width: 70px;
  height: 70px;
  aspect-ratio: 1 !important;
  background-image: url("../../assets/girl.jpg");
  background-size: cover;
  border-radius: 15px;
  border: 2px solid #00F0FF;
}
.beethoven #store .header .mast .expo {
  width: -moz-fit-content;
  width: fit-content;
}
.beethoven #store .header .mast .expo h1 {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.beethoven #store .header .mast .expo .socials {
  display: flex;
  gap: 10px;
}
.beethoven #store .header .mast .expo .socials img {
  width: 28px;
  filter: hue-rotate(50deg) invert(100%);
}
.beethoven #store .header .bio {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 300;
  margin: 25px 0;
}
.beethoven #store .header .magnet {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.beethoven #store .header .magnet input, .beethoven #store .header .magnet input:-webkit-autofill,
.beethoven #store .header .magnet input:-webkit-autofill:hover,
.beethoven #store .header .magnet input:-webkit-autofill:focus,
.beethoven #store .header .magnet input:-webkit-autofill:active {
  height: 48px;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  flex: 1;
}
.beethoven #store .header .magnet button {
  padding: 0 20px;
  border-radius: 10px;
}
.beethoven #store .section {
  margin-top: 50px;
  width: 90%;
  margin: auto;
}
.beethoven #store .section .section-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 35px;
  margin-top: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.beethoven #store .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
}
.beethoven #store .grid .card {
  width: 47%;
  margin-bottom: 20px;
  transition: 0.2s ease;
}
.beethoven #store .grid .card .thumbnail {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  background-size: cover;
  transition: 0.2s ease;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.beethoven #store .grid .card .expo h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.beethoven #store .grid .card .expo p {
  font-family: "Inter";
  margin: 0;
  font-size: 12px;
  line-height: 140%;
  font-weight: 200;
}
.beethoven #store .grid .card:hover .thumbnail {
  transform: translateY(-5px) scale(1.02);
}
.beethoven #store .grid .price-row {
  margin-top: 15px;
}
.beethoven #store .grid .price-row .price {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffce00;
}
.beethoven #store .stack .card {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.beethoven #store .stack .card .thumbnail {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 8px;
  background-size: cover;
  margin-right: 10px;
}
.beethoven #store .stack .card .expo h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
}
.beethoven #store .stack .card .expo p {
  display: none;
}
.beethoven #store .stack .card .price-row {
  margin-top: 0px;
}
.beethoven #store .stack .card .price-row .price {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffce00;
}
.beethoven #store #banner {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: 1px solid white;
  padding: 15px 20px;
  margin-top: 70px;
  border-radius: 30px;
  opacity: 0.5;
}
.beethoven #store #banner h3 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.beethoven .checkout .banner {
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url("../../assets/mountains.png");
  background-size: 100% 100%;
  background-position: 50% 0%;
}
.beethoven .checkout .expo {
  width: 88%;
  margin: auto;
  margin-top: 25px;
}
.beethoven .checkout .expo h1 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}
.beethoven .checkout .expo h2 {
  font-size: 18px;
  color: #ffce00;
  margin: 0;
}
.beethoven .checkout .description {
  width: 88%;
  margin: auto;
}
.beethoven .checkout .description p {
  width: 100%;
  font-family: "Inter";
  font-weight: 200;
  font-size: 13px;
  line-height: 170%;
}

@keyframes float-in {
  0% {
    transform: translateY(30px) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}/*# sourceMappingURL=beethoven.css.map */