#main.concept {
  background: #f3f3f8;
}

.tiktok-embed {
  border-radius: 10px;
}
.concept {
  padding-left: 0;
  overflow-y: hidden;
}
.concept .screen {
  background: #fdfdff;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  box-shadow: 0px 60px 100px rgba(27, 28, 62, 0.1);
}
.concept input, .concept input:-webkit-autofill,
.concept input:-webkit-autofill:hover,
.concept input:-webkit-autofill:focus,
.concept input:-webkit-autofill:active {
  height: 48px;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.05);
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  flex: 1;
}
.concept #store {
  background: none;
  box-shadow: none;
  height: 100vh;
  width: 600px;
  padding-top: 80px;
  margin-left: -20px;
  padding-right: 50px;
}
.concept #store .header {
  width: 90%;
  padding: 20px 0;
  margin: auto;
}
.concept #store .header .mast {
  display: flex;
  align-items: center;
  gap: 25px;
}
.concept #store .header .mast .pfp {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 !important;
  background-image: url("../../assets/girl.jpg");
  background-size: cover;
  border-radius: 15px;
  border: 2px solid #00F0FF;
}
.concept #store .header .mast .expo {
  width: -moz-fit-content;
  width: fit-content;
}
.concept #store .header .mast .expo h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 10px;
}
.concept #store .header .mast .expo .socials {
  display: flex;
  gap: 10px;
}
.concept #store .header .mast .expo .socials img {
  width: 36px;
  filter: hue-rotate(50deg);
}
.concept #store .header .bio {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  margin: 30px 0;
}
.concept #store .header .magnet {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.concept #store .header .magnet input, .concept #store .header .magnet input:-webkit-autofill,
.concept #store .header .magnet input:-webkit-autofill:hover,
.concept #store .header .magnet input:-webkit-autofill:focus,
.concept #store .header .magnet input:-webkit-autofill:active {
  height: 52px;
  padding: 0 15px;
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  flex: 1;
}
.concept #store .header .magnet button {
  padding: 0 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  background: #6354ff;
  box-shadow: 0 5px 20px rgba(99, 84, 255, 0.2);
  transition: 0.2s ease;
  width: 140px;
}
.concept #store .header .magnet button:hover {
  width: 160px;
  background: #5200FF;
}
.concept #store .section {
  margin-top: 50px;
  width: 95%;
  margin: auto;
}
.concept #store .section .section-title {
  margin-left: 3%;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 35px;
  margin-top: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.concept #store .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0%;
}
.concept #store .grid .card {
  cursor: pointer;
  width: 44%;
  margin-bottom: 20px;
  padding: 3%;
  border-radius: 20px;
  transition: 0.2s ease;
}
.concept #store .grid .card .thumbnail {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  background-size: cover;
  transition: 0.2s ease;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.concept #store .grid .card .expo h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.concept #store .grid .card .expo p {
  font-family: "Inter";
  margin: 0;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}
.concept #store .grid .card:hover {
  animation: rattle 0.2s alternate-reverse infinite ease-in-out;
}
.concept #store .grid .card:hover .thumbnail {
  transform: translateY(-40px) scale(1.02);
}
@keyframes rattle {
  from {
    transform: rotate(-0.5deg);
  }
  to {
    transform: rotate(0.5deg);
  }
}
.concept #store .grid .price-row {
  margin-top: 15px;
}
.concept #store .grid .price-row .price {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #6354ff;
}
.concept #store .stack .card {
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.concept #store .stack .card .thumbnail {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 15px;
  background-size: cover;
}
.concept #store .stack .card .expo h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}
.concept #store .stack .card .expo p {
  display: none;
}
.concept #store .stack .card .price-row {
  margin-top: 0px;
}
.concept #store .stack .card .price-row .price {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #6354ff;
}
.concept #store #banner {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: 1px solid white;
  padding: 15px 20px;
  margin-top: 70px;
  border-radius: 30px;
  opacity: 0.5;
}
.concept #store #banner h3 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.concept .checkout .banner {
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url("../../assets/mountains.png");
  background-size: 100% 100%;
  background-position: 50% 0%;
}
.concept .checkout .expo {
  width: 88%;
  margin: auto;
  margin-top: 25px;
}
.concept .checkout .expo h1 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}
.concept .checkout .expo h2 {
  font-size: 18px;
  color: #6354ff;
  margin: 0;
}
.concept .checkout .description {
  width: 88%;
  margin: auto;
}
.concept .checkout .description p {
  width: 100%;
  font-family: "Inter";
  font-weight: 200;
  font-size: 13px;
  line-height: 170%;
}

@keyframes float-in {
  0% {
    transform: translateY(30px) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}/*# sourceMappingURL=concept.css.map */