body {
  font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;
  color: #131f60;
}

p {
  font-family: 'Inter', sans-serif;
}

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  background: white;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #6355ff;
}

@-webkit-keyframes ripple {
  0% {
    top: 51.6px;
    left: 51.6px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 1.7999999999999998px;
    left: 1.7999999999999998px;
    width: 99.6px;
    height: 99.6px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    top: 51.6px;
    left: 51.6px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 1.7999999999999998px;
    left: 1.7999999999999998px;
    width: 99.6px;
    height: 99.6px;
    opacity: 0;
  }
}

.ripple div {
  position: absolute;
  border-width: 8.4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ripple 1.20482s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: ripple 1.20482s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple div:nth-child(1) {
  border-color: #6355ff;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ripple div:nth-child(2) {
  border-color: #6355ff;
  -webkit-animation-delay: -0.6024096385542168s;
          animation-delay: -0.6024096385542168s;
}

.loadingio-spinner-ripple {
  width: 120px;
  height: 120px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ripple {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ripple div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (min-width: 800px) {
  #navbar {
    position: fixed;
    width: 220px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #EBEDFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navbar img {
    width: 90%;
  }
  #navbar #top {
    margin-top: 20px;
  }
  #main {
    position: fixed;
    width: calc(100vw - 220px);
    height: calc(100vh - 70px);
    left: 220px;
    top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
    overflow-y: scroll;
  }
  #header {
    position: fixed;
    width: calc(100vw - 220px);
    height: 70px;
    left: 220px;
    top: 0;
    border-bottom: 1px solid #DAD0EA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header h1 {
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
  }
  #default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 25px;
    width: 80%;
    max-width: 600px;
  }
  #default .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
  }
  #default .head img {
    height: 24px;
  }
  #default .head h2 {
    font-size: 20px;
  }
  #default .questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  #default .questions .question {
    background: #EEF1F5;
    width: 39%;
    margin: 1.5%;
    padding: 4%;
    border-radius: 10px;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #default .questions .question p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    vertical-align: flex-start;
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
  #default .questions .question img {
    height: 16px;
  }
  #default .questions .question:hover {
    background: #DAE0EA;
  }
  #default #disclaimer {
    font-size: 14px;
    background: #F2F4F8;
    padding: 20px;
    color: #808Eb6;
    border-radius: 10px;
    margin: 10px;
    margin-top: 40px;
    line-height: 20px;
  }
  #area {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #link {
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
    color: #808Eb6;
  }
  .dialog {
    width: 80%;
    max-width: 840px;
    background: #f2f4f8;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    -webkit-animation: float 0.3s ease;
            animation: float 0.3s ease;
  }
  .dialog .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dialog .flex .avatar {
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    border-radius: 20px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .dialog .flex p {
    font-size: 14px;
    line-height: 20px;
    margin: 3px;
  }
  .dialog .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    padding: 5px;
    margin-top: 15px;
  }
  .dialog.stanley {
    background: #F5F5FF;
  }
  .dialog.stanley .avatar {
    background-image: url("assets/stanley.svg");
    background-size: cover;
  }
  @-webkit-keyframes float {
    from {
      opacity: 0;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes float {
    from {
      opacity: 0;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  #loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0;
    margin-bottom: 150px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    opacity: 0;
  }
  #loading h2 {
    font-size: 18px;
  }
  #box {
    position: fixed;
    bottom: 30px;
    width: calc((100vw - 220px) * 0.8);
    max-width: 840px;
    font-size: 14px;
    background: #F9F9FF;
    padding: 18px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #box input {
    width: 100%;
    background: none;
  }
  #box input::-webkit-input-placeholder {
    color: rgba(99, 85, 255, 0.6);
  }
  #box input:-ms-input-placeholder {
    color: rgba(99, 85, 255, 0.6);
  }
  #box input::-ms-input-placeholder {
    color: rgba(99, 85, 255, 0.6);
  }
  #box input::placeholder {
    color: rgba(99, 85, 255, 0.6);
  }
}
/*# sourceMappingURL=stanley.css.map */