body{
    margin: 0;
}

#canvas{
    width: 100vw;
    height: 100vh;
    background: black;
}

#canvas2{
    width: 100vw;
    height: 100vh;
    background: black;
}

#canvas3{
    width: 100vw;
    height: 100vh;
    background: black;
}
