*{
    margin: 0;
}

a{
    color: white;
}

body{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    margin: 0;
}

#main{
    background: black;
    background-image: linear-gradient(#6F4BFF, #5932F4);
    background: black;
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 90px;
    letter-spacing: -4px;
    margin-top: 40px;
    animation: float 0.5s;
}

#laura{
    height: 90vh;
    animation: float 0.8s ease;
    margin-top: -60px;
}

@keyframes float{
    from{
        opacity: 0;
        transform: scale(0.5) translateY(100vh);
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.pill{
    background: rgba(black, 0.8);
    padding: 20px 25px;
    padding-right: 35px;
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: 0px 20px 40px rgba(black, 0.1);
    animation: hover 1s infinite alternate ease-in-out;
    transition: 0.2s ease;
    border: 2px solid rgba(white, 0.2);
    cursor: pointer;

    .circle{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 15px;
    }

    h2{
        font-size: 20px;
        margin-right: 10px;
    }

    h3{
        font-size: 18px;
        font-weight: 200;
    }

    &:hover{
        background: rgba(black, 0.7);
    }
}

@keyframes hover{
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(5px);
    }
}

#a1{
    top: 60vh;
    left: 20vw;
    animation-delay: 0.1s;
}

#a2{
    top: 30vh;
    left: 15vw;
    animation-delay: 0.2s;
}

#a3{
    top: 50vh;
    right: 35vh;
    animation-delay: 0.3s;
}

#a4{
    top: 80vh;
    right: 40vh;
    animation-delay: 0.4s;
}


#popup{
    position: fixed;
    top: 100vh;
    left: 0;
    background-image: linear-gradient(#6F4BFF, #5932F4);
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    transition: 0.5s ease;

    #click{
        background: rgba(white, 0.1);
        width: 50px;
        height: 50px;
        text-align: center;
        justify-content: center;
        line-height: 50px;
        border-radius: 50px;
        margin-top: 20px;
        transition: 0.2s ease;
        &:hover{
            background: rgba(white, 0.2);
        }
    }

    &.active{
        top: 0;
        left: 0;
    }

    *{
        margin: 0;
    }

    body{
        font-family: 'Inter', sans-serif;
        color: white;
        margin: 0;
    }

    #banner{
        width: 50vw;
        height: 25vw;
        border-radius: 20px;
        background: black;
        margin: 20px 0 5px 0;
    }

    #content{
        width: 50vw;
    }

    h2{
        margin: 15px 0;
    }


    h3{
        margin: 15px 0;
        font-weight: 300;
    }

    p{
        font-weight: 200;
        line-height: 140%;
        color: rgba(white, 0.6);
        margin-top: 30px;
    }
}

.bottom{
    display: flex;
    flex-direction: column;
    margin: 20px 0 !important;
    input{
        background: rgba(white, 0.1);
        padding: 15px 20px;
        border: none;
        outline: none;
        border-radius: 30px;
        color: white;
        margin: 10px 0 !important;
    }

    button{
        background: #6F4BFF;
        border: none;
        color: white;
        padding: 15px 20px;
        border-radius: 50px;
        margin-top: 10px !important;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 50px;
    }

}