body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
  border: none;
}

@media screen and (min-width: 800px) {
  #main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #eaeaed;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
  }
  @keyframes slider {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(80);
    }
  }
  @keyframes slide-up {
    from {
      top: 100vh;
    }
    to {
      top: 0;
    }
  }
  #slides {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .screen {
    width: 50vh;
    height: calc(90vh - 50px);
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0.001;
    position: relative;
    animation: float-up 0.4s ease;
    width: 50vh;
    height: 100%;
  }
  .line {
    font-size: 30px;
    position: absolute;
    z-index: -1;
    right: -50px;
    top: 50%;
  }
  .slide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .slide-header .bars {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
  }
  .slide-header .bars .bar {
    width: 22px;
    height: 2px;
    margin: 4px 0;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  .slide-header .bars.active {
    background: rgba(255, 0, 0, 0.1);
    border-radius: 10px;
  }
  .slide-header .bars.active .bar {
    background: red;
  }
  .slide-header .bars.active .one {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .slide-header .bars.active .two {
    transform: rotate(-45deg) translate(4px, -4px);
  }
  .slide-header .url {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
  }
  .slide-header .url h3 {
    color: rgba(0, 0, 0, 0.2);
    margin: 0;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .slide-header .url h3:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  .slide-header .url button {
    color: #6355FF;
    border: 2px solid #6355FF;
    border-radius: 8px;
    padding: 5px 15px;
    background: none;
    font-weight: 600;
  }
  #controls {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 40px;
    width: 600px;
    z-index: 2;
  }
  #controls .control {
    display: flex;
    align-items: flex-start;
    margin: 20px;
  }
  #controls .control#c-theme {
    padding-bottom: 15px;
  }
  #controls .control h2 {
    font-size: 14px;
    width: 100px;
    font-weight: 400;
    transform: translateY(-3px);
  }
  #controls .control .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    /*

    .option{
       // background: rgba(black, 0.08);
       // padding: 10px 15px;
       // border-radius: 20px;


        cursor: pointer;


        img{
            width: 60px;
            padding: 5px;
            border: 2px solid rgba(white, 0);
            border-radius: 10px;
        }

        h2{
            text-align: center;
            font-size: 11px;
            width: 100%;
            letter-spacing: -0.01px;
            margin-top: 5px;
            color: rgba(black, 0.5);
            font-weight: 300;
            display: none;

        }

        &.active{
            img{
               // filter: hue-rotate(30deg) brightness(80%) contrast(130%) saturate(200%);
               border: 2px solid #6355FF;
            }
        }
    }
    */
  }
  #controls .control .row .option {
    background: rgba(0, 0, 0, 0.08);
    padding: 8px 15px;
    border-radius: 20px;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
  }
  #controls .control .row .option h2 {
    margin: 0;
    font-size: 12px;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 4px;
  }
  #controls .control .row .option.active {
    background: #6355FF;
    color: white;
  }
  #controls .control .row .option-theme {
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
    background: rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  #controls .control .row .option-theme.active {
    background: #6355FF;
    color: white;
  }
  #controls .control .color {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50px;
    background: black;
    border: 1px solid black;
  }
  #controls .control input {
    color: black;
  }
  #controls .control .toggle {
    margin-top: 5px;
    background: #d0d0d0;
    height: 25px;
    width: 40px !important;
    padding: 0 !important;
    position: relative;
    transition: 0.2s ease;
    border-radius: 20px;
  }
  #controls .control .toggle .nub {
    position: absolute;
    top: 4.5px;
    left: 4.5px;
    background: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    transition: 0.2s ease;
  }
  #controls .control .toggle.active {
    background: #6355FF;
  }
  #controls .control .toggle.active .nub {
    top: 4.5px;
    left: 19.5px;
  }
  #controls #apply {
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 30px;
  }
}
/* The switch - the box around the slider */
@media screen and (max-width: 800px) {
  #main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #e5e5f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #store {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
}
@keyframes float-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes remove {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 100%;
  }
}/*# sourceMappingURL=style.css.map */