body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
  border: none;
}

@media screen and (min-width: 800px) {
  #main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #eaeaed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: scroll;
  }
  #slides {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .screen {
    width: 50vh;
    height: calc(90vh - 50px);
    border-radius: 20px;
    overflow-y: scroll;
  }
  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0.001;
        -ms-flex-positive: 0.001;
            flex-grow: 0.001;
    position: relative;
    padding-bottom: 20px;
    -webkit-animation: float-up 0.4s ease;
            animation: float-up 0.4s ease;
  }
  .line {
    font-size: 30px;
    position: absolute;
    z-index: -1;
    right: -50px;
    top: 50%;
  }
  .slide-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .slide-header .bars {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .slide-header .bars .bar {
    width: 22px;
    height: 2px;
    margin: 4px 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .slide-header .bars.active {
    background: rgba(255, 0, 0, 0.1);
    border-radius: 10px;
  }
  .slide-header .bars.active .bar {
    background: red;
  }
  .slide-header .bars.active .one {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
            transform: rotate(45deg) translate(4px, 4px);
  }
  .slide-header .bars.active .two {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
            transform: rotate(-45deg) translate(4px, -4px);
  }
  .slide-header .url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    height: 50px;
  }
  .slide-header .url h3 {
    color: rgba(0, 0, 0, 0.2);
    margin: 0;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .slide-header .url h3:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  .slide-header .url button {
    color: #6355FF;
    border: 2px solid #6355FF;
    border-radius: 8px;
    padding: 5px 15px;
    background: none;
    font-weight: 600;
  }
  #controls {
    -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 40px;
  }
  #controls .control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  #controls .control h2 {
    font-size: 14px;
    width: 100px;
    font-weight: 400;
  }
  #controls .control .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  #controls .control .row .option {
    background: rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
  }
  #controls .control .row .option.active {
    background: #6355FF;
    color: white;
  }
  #controls .control .color {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50px;
    background: black;
    border: 1px solid black;
  }
  #controls .control input {
    color: black;
  }
  #controls #apply {
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 30px;
  }
}

@media screen and (max-width: 800px) {
  #main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #e5e5f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #store {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
}

@-webkit-keyframes float-up {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes float-up {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes remove {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 100%;
  }
}

@keyframes remove {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 100%;
  }
}
/*# sourceMappingURL=style.css.map */