@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.minima{
    --stan-store-theme-primary-color: #6355FF;
		--theme-text-grey: #8e8e8e;
		--theme-text-highlight-color: #000000;
		font-family: 'inter', sans-serif !important;
		color: var(#6355FF);
		background: #ffffff;

		.device-site {
			padding: 0 !important;
			background: #ffffff;
		}

		.device-user-container {
			display: block !important;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
			border-bottom: none;

			.device-user {
				border: none;
				position: relative;
				display: inline-block;
				width: 100%;
				height: auto;
				max-width: 100%;
				margin: 1.5rem 0;
				border-radius: 0;
				display: flex;
				justify-content: center;

				img {
					display: block;
					border-radius: 170px !important;
					width: 170px !important;
					height: 170px !important;
					overflow: hidden;
					aspect-ratio: 1;
				}
			}
			.device-user:after {
				content: '';
				position: absolute;
				display: inline-block;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			.device-user-name {
				display: flex;
				position: relative;
				flex-direction: column;
				width: 100%;
				padding: 0px 20px;
				margin-bottom: 0px;
				.device-user-name-handle {
					display: block !important;
					margin-bottom: 12px;
					overflow: visible;
					h3 {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 700;
						font-size: 36px;
						line-height: 95%;
						text-align: center;
						letter-spacing: -0.02em;
						margin-bottom: 0px !important;
						display: -webkit-box !important;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						white-space: inherit !important;
						overflow: inherit !important;
						text-overflow: inherit !important;
						color: #000;
					}
					.device-user-divider {
						display: none;
					}
					p {
						display: none;
					}
					.device-user-bio {
						display: none !important;
					}
				}

				.social-icons {
					margin: auto;
					margin-bottom: 12px;
					overflow: auto;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					.device-social {
						margin: 2px;
						border: none;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					.social-icons-outline {
						display: none !important;
					}
					.social-icons-no-outline {
						display: none !important;
					}
					.social-icons-inverted {
						display: block !important;
						justify-content: center;
						align-items: center;
						height: 32px;
						width: 32px;
						min-height: 32px;
						min-width: 32px;
						margin: 4px;
						border-radius: 10px;
						svg {
							width: 23px;
							height: 23px;
							margin: auto;
							display: block;
							path {
								fill: #cccccc;
							}
							rect {
								fill: #cccccc;
							}
						}
					}
				}
			}
		}

		.block {
			box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.08);
			border-radius: 10px;
			overflow: hidden;
			width: 100%;
			position: relative;
			padding: 16px;
			margin-top: 6px;
			background: #fff;

			&.mb-5 {
				margin-bottom: 18px !important;
			}

			button {
				border: none;
			}
			.stan-button-callout-wrap {
				display: block;
			}
			.stan-block-content-wrap {
				display: flex;
				width: 100%;
				margin-bottom: 10px;
				.stan-block-image-wrap {
					display: block !important;
					height: 45px;
					width: 45px;
					min-width: 45px;
					overflow: hidden;
					border-radius: 5px;
					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						object-position: 50% 50%;
					}
				}
				.stan-block-text-wrap {
					color: #000;
					text-align: left;
					display: flex;
					width: 100%;
					flex-wrap: nowrap;
					width: 100%;
					flex-direction: column;
					align-items: flex-start;
					overflow: hidden;
					margin-left: 10px;
					margin-bottom: 4px;
					.stan-block-heading {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 110%;

						letter-spacing: -0.01em;

						margin: 0;
						overflow: hidden !important;
						text-overflow: ellipsis !important;
						display: -webkit-box !important;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						width: 100%;
						color: #000;
					}
					.stan-block-subheading {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 400;
						font-size: 15px;
						line-height: 125%;

						letter-spacing: -0.01em;
						color: var(--theme-text-grey);
						overflow-wrap: anywhere;
						width: 100%;
						margin: 10px 0 0 0;
						overflow: hidden !important;
						text-overflow: ellipsis !important;
						display: -webkit-box !important;
						-webkit-line-clamp: 6;
						-webkit-box-orient: vertical;
					}
				}
				.stan-block-price-review-wrapper {
					display: flex;
					align-items: center;
					width: 100%;
					margin-top: 5px;
					flex-wrap: wrap;
					column-gap: 0px;
					row-gap: 6px;
					height: fit-content;

					.product-price {
						text-align: left;
						align-self: center;
						display: flex;
						flex-wrap: wrap;
						align-items: stretch;
						column-gap: 4px;
						row-gap: 4px;
						margin-right: 6px;
						span:first-child {
							color: var(--stan-store-theme-primary-color);
							font-family: 'Inter';
							font-style: normal;
							font-weight: 600;
							font-size: 18px;
							line-height: 95%;

							letter-spacing: -0.01em;
							margin-right: 0px;
						}
						span:nth-child(2) {
							color: var(--stan-store-theme-primary-color);
							opacity: 0.4;
							font-family: 'Inter';
							font-style: normal;
							font-weight: 600;
							font-size: 18px;
							line-height: 95%;

							letter-spacing: -0.01em;
							text-decoration-line: line-through;
							margin-right: 0px;
						}
					}
					.product-price-off {
						display: none;
					}

					.stan-block-rating {
						display: flex;
						align-items: center;
						padding: 4px 6px;
						padding-left: 0px;
						color: #000;
						border-radius: 5px;
						img {
							width: 15px;
							height: 15px;
							object-fit: cover;
							object-position: left;
							margin-right: 4px;
							filter: brightness(0%) invert(93%) sepia(86%) saturate(623%) hue-rotate(328deg) brightness(0%) contrast(96%);
						}
						span {
							font-style: normal;
							font-weight: 700;
							font-size: 18px;
							line-height: 100%;
							letter-spacing: 0.01em;
							margin-right: 2px;
						}
					}

					.stan-block-product-stock {
						width: 100%;
						display: block !important;
						overflow: hidden;
						padding: 0;
						overflow: hidden !important;
						text-overflow: ellipsis !important;
						overflow-wrap: anywhere;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 125%;

						letter-spacing: -0.01em;
						color: var(--theme-text-grey);
						opacity: 1;
					}
				}

				.stan-block-product-stock {
					display: none;
				}
			}

			.stan-block-button-callout-wrap {
				display: block;
			}

			.stan-button-callout-wrap {
				box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
				border-radius: 10px;
				.stan-button-callout {
					border: none;
					width: 100%;
					display: inline-block;
					color: black;
					text-align: center;
					min-height: 55px;
					box-sizing: border-box;
					white-space: pre-line;
					word-wrap: break-word;
					background: var(--stan-store-theme-primary-color);

					.stan-button-callout-text {
						width: 80%;
						margin: 0 auto;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 95%;

						text-align: center;
						letter-spacing: -0.01em;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 1;
						overflow: hidden;
						overflow: hidden !important;
						text-overflow: ellipsis !important;
						overflow-wrap: anywhere;
						color: #fff;
					}
				}
			}

			.fan-details-form {
				width: 100%;
				padding: 0 20px;
				.form-field {
					width: 100%;
					margin-top: 8px !important;
					margin-bottom: 8px !important;
					p {
						color: #f44336 !important;
						padding-left: 0;
						font-size: 12px;
						margin: 5px 0 0 5px;
					}
					.input-bar {
						border: 0px !important;
						border-radius: 10px;
						color: var(--stan-store-theme-primary-color);
						background-color: var(--stan-store-theme-tone1-color) !important;
						padding: 13px 16px !important;
						font-style: normal;
						font-weight: 400;
						line-height: 19px;
						min-height: 55px;
					}
					.input-bar::placeholder {
						color: var(--stan-store-theme-tone2-color);
					}
					.phone-holder .phone-country {
						font-family: 'Inter';
						background-color: var(--stan-store-theme-tone1-color) !important;
						color: var(--stan-store-theme-primary-color);
						justify-content: center !important;
						.dropdown {
							display: flex;
						}
					}
					&:last-child {
						margin-bottom: 12px;
					}
					select.input-bar {
						color: var(--stan-store-theme-tone2-color) !important;
						&.selected {
							color: var(--stan-store-theme-primary-color) !important;
						}
					}

					label.input-bar {
						color: var(--stan-store-theme-primary-color);
						grid-template-columns: 1.6em auto;
						input {
							border: 1px solid var(--stan-store-theme-primary-color) !important;
							border-radius: 10px;
							&::before {
								box-shadow: inset 1em 1em var(--stan-store-theme-primary-color);
								width: 0.7em;
								height: 0.7em;
							}
							&[type='radio'] {
								border-radius: 50% !important;
								width: 1.5em;
								height: 1.5em;
								&::before {
									width: 0.7em;
									height: 0.7em;
								}
							}
							&[type='checkbox'] {
								border-radius: 5px !important;
								width: 1.5em;
								height: 1.5em;
								&:checked {
									background-color: var(--stan-store-theme-primary-color);
								}
								&::before {
									box-shadow: inset 1em 1em #fff;
								}
							}
						}
					}
					.form-label {
						color: #000;
						.chevron {
							stroke: var(--stan-store-theme-primary-color);
						}
					}
				}
			}
		}

		.stan-block-layout-card {
			display: flex;
			flex-wrap: wrap;
			.stan-button-callout-wrap {
				display: block !important;
				width: 100%;
				margin: auto;
				padding: 5px 15px 15px 15px;
			}
			.stan-block-content-wrap {
				.stan-block-image-wrap {
					height: 72px;
					width: 72px;
					max-height: 72px;
					overflow: hidden;
					img {
						height: 72px;
						width: 72px;
						object-fit: cover;
						object-position: 50% 50%;
						max-height: 72px;
					}
				}
				.stan-block-text-wrap {
					flex-basis: 0;
					flex-grow: 1;
					max-width: 100%;
				}
			}
			.fan-details-form {
				padding: 0;
				margin-top: 10px;
			}
			.stan-button-callout-wrap {
				padding: 0;
			}
		}

		.stan-block-pill {
			padding: 0;
			box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.08);
			.stan-button-pill {
				width: 100%;
				display: flex;
				align-items: center;
				height: 100%;
				padding: 10px;
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				background: transparent;
				min-height: 70px;

				.stan-block-content-wrap {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					height: 100%;
					flex-basis: 0;
					flex-grow: 1;
					max-width: 100%;
					flex-direction: row;
					align-items: flex-start;
					margin: 10px 10px;

					.stan-button-text {
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: left;
						width: auto;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 110%;

						letter-spacing: -0.01em;
						color: #000;
						-webkit-box-orient: vertical;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						white-space: pre-wrap;
						overflow-wrap: anywhere;
						margin: 3px;
					}
					.stan-block-price-review-wrapper {
						margin: 3px;
						flex-wrap: wrap;
						column-gap: 8px;
						row-gap: 4px;
						height: fit-content;
						width: auto;
						padding-left: 10px;
						.product-price {
							width: auto;
						}

						.stan-block-product-stock {
							width: auto;
							font-size: 16px;
							margin-bottom: 5px;
						}

						.product-price-off {
							margin-top: 0;
							padding: 0;
							font-size: 16px;
							border: none;
						}

						.stan-block-rating {
							margin-top: 0;
							padding: 0;
							border: none;
							span {
								font-size: 16px;
							}
							img {
								width: 12px;
								height: 12px;
							}
						}
					}

					.stan-block-product-stock {
						display: none;
					}
				}

				.stan-button-image {
					width: 40px;
					height: 40px;
					min-width: 40px;
					overflow: hidden;
					margin-left: 8px;
					border-radius: 5px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		.border-bottom {
			border-bottom: none !important;
		}
		.button-container {
			min-height: calc(100vh - 300px);
			padding: 0 18px 36px 18px !important;
			overflow: visible;
		}

		button {
			font-family: 'Plus Jakarta Sans', sans-serif !important;
			color: black;
		}

		.hollow-dots-spinner {
			margin: auto;
		}

		.layout-card {
			background: none;
			box-shadow: none;
			border: none;
		}

		.preview-button-wrapper {
			margin-top: 1.5rem;
		}

		.countryDropdownWrap {
			font-family: 'Inter';
			z-index: 200 !important;
			.dropdown-content {
				.flag-selector-item div {
					color: #000 !important;
				}

				.country-back-button {
					svg path {
						stroke: var(--stan-store-theme-primary-color) !important;
					}
				}
			}
		}

		footer {
			color: black;
		}
		.privacy-policy {
			text-decoration: none;
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 76px;
			div {
				background: rgba(0, 0, 0, 0.03);
				border-radius: 20px;
				padding: 12px 20px;
				font-family: 'Plus Jakarta Sans';
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 105%;
				text-align: center;
			}
		}

}
